.Burger {
    margin: auto;
    overflow-y: auto;
    text-align: center;
}

@media (min-width:1000px) and (min-height:700px) {
    .Burger {
        width: 700px;
        height: 450px;
    }
}
@media (min-width:501px) and(max-width:990px){
    .Burger{
        width:80%;
        height:400px;
    }
}
@media (max-width:500px) {
    .Burger {
        width: 80%;
        height:200px;
    }
}